ng-container(*ngIf="userService.authorizedUserOnly$ | async as user")
  nav.navbar.is-primary(role='navigation' aria-label='main navigation')
    .container
      .navbar-brand
        .navbar-item.add-input-wrapper([class.is-active]="addComponent.inputValue")
          tt-items-add("#addComponent"="")

        .navbar-item.ml-auto(*ngIf="(uiService.isMobile$ | async) && !(connectionStatus.isOnline$ | async)", title="Offline mode is on.\n" +
        "Looks like you're not connected to the Internet. Changes you make in offline mode will be synced when you reconnect.")
          span.icon.has-text-warning
            i.fas.fa-signal

        tt-notifications.navbar-item(*ngIf='uiService.isMobile$ | async', '[userId]'='user.id', [class.ml-auto]="connectionStatus.isOnline$ | async")


        a.navbar-burger.burger(
            role='button',
            aria-label='menu',
            '[class.is-active]'='isMenuExpanded',
            (click)='toggleMenu()')
          span(aria-hidden='true')
          span(aria-hidden='true')
          span(aria-hidden='true')

      .navbar-menu('[class.is-active]'='isMenuExpanded')

        .navbar-start
          a.navbar-item(routerLink='/app/links', [queryParams]="{status: 'new'}", routerLinkActive='is-active', (click)='closeMenu()')
            span.icon
              i.fas.fa-list-ul
            span Links
          a.navbar-item(routerLink='/app/tags', routerLinkActive='is-active', (click)='closeMenu()')
            span.icon
              i.fas.fa-tags
            span Tags

        .navbar-end
          //- mobile menu
          ng-container(*ngIf='isMenuExpanded; else desktopMenu')

            hr.dropdown-divider

            a.navbar-item(routerLink='/app/profile', routerLinkActive='is-active', (click)='closeMenu()')
              span.icon
                i.fas.fa-cog
              span Profile settings

            a.navbar-item(routerLink='/app/import', routerLinkActive='is-active', (click)='closeMenu()')
              span.icon
                i.fas.fa-cloud-upload-alt
              span Fast Add & Import

            hr.dropdown-divider

            .navbar-item
              span.icon
                i.fas.fa-info-circle
              span Version {{updateService.versionInfo.version}}

            a.navbar-item(routerLink='/app/roadmap', routerLinkActive='is-active', (click)='closeMenu()')
              span.icon
                i.fas.fa-road
              span Project roadmap

            hr.dropdown-divider

            a.navbar-item((click)='userService.signOut()')
              span.icon
                i.fas.fa-sign-out-alt
              span Sign out

          ng-template('#desktopMenu'='')
            .navbar-item
              .navbar-item(*ngIf="!(connectionStatus.isOnline$ | async)", title="Offline mode is on.\n" +
              "Looks like you're not connected to the Internet. Changes you make in offline mode will be synced when you reconnect.")
                span.icon.has-text-warning
                  i.fas.fa-signal
              tt-notifications.navbar-item(*ngIf='!(uiService.isMobile$ | async)', '[userId]'='user.id')
              .navbar-item
                .dropdown.is-hoverable.is-right
                  .dropdown-trigger
                    a
                      figure.image.is-24x24(*ngIf="user.photoURL; else userIcon")
                        img.is-rounded([src]="user.photoURL")
                      ng-template("#userIcon"="")
                        span.icon.has-text-white
                          i.far.fa-user-circle
                  .dropdown-menu(role='menu')
                    .dropdown-content

                      a.dropdown-item(routerLink='/app/profile', routerLinkActive='is-active', (click)='closeMenu()')
                        span.icon
                          i.fas.fa-cog
                        span Profile settings

                      a.dropdown-item(routerLink='/app/import', routerLinkActive='is-active', (click)='closeMenu()')
                        span.icon
                          i.fas.fa-cloud-upload-alt
                        span Fast Add & Import

                      hr.dropdown-divider

                      .dropdown-item
                        span.icon
                          i.fas.fa-info-circle
                        span Version {{updateService.versionInfo.version}}

                      a.dropdown-item(routerLink='/app/roadmap', routerLinkActive='is-active', (click)='closeMenu()')
                        span.icon
                          i.fas.fa-road
                        span Project roadmap

                      hr.dropdown-divider

                      a.dropdown-item((click)='userService.signOut()')
                        span.icon
                          i.fas.fa-sign-out-alt
                        span Sign out
