.line.first
  a([href]="getURL(item)", target="_blank", (click)="read(item)", [title]="item.url") {{ item.title || item.url }}

.line.second
  .actions.icon-alignment--first
    tt-priority-selector(
      [priority]="item.priority",
      [isDropdownLeft]="true",
      (set)="setPriority.emit({ item: item, priority: $event })"
    )

  .actions
    tt-tag-selector(
      [tags]="tags",
      [selectedIds]="item.tags",
      [isDropdownLeft]="true",
      (toggle)="toggleTagHandler($event, item)",
      (tagClick)="tagClick.emit($event)"
    )

  .actions.ml-auto.icon-alignment--last
    .icon.is-small.has-text-grey-lighter(*ngIf="item.urlParseStatus === 'notStarted'", title="Parsing URL...")
      i.far.fa-compass.fa-spin

    .dropdown.is-hoverable.is-right(*ngIf="item.urlParseStatus === 'error'")
      .dropdown-trigger
        a.icon.has-text-warning
          i.fas.fa-exclamation-circle
      .dropdown-menu(role="menu")
        .dropdown-content
          .dropdown-item
            p URL parse failed. Reason:
            p "{{ item.urlParseError }}"
          .dropdown-divider
          a.dropdown-item((click)="retryURLParsing.emit(item.id)")
            span.icon
              i.fas.fa-sync
            span Retry

    .dropdown.is-hoverable.is-right
      .dropdown-trigger
        //- Start/Finish/Change rating button + dropdown to change status
        ng-container([ngSwitch]="item.status")
          ng-container(*ngSwitchCase="'new'")
            a.icon.has-text-grey-light
              i.far.fa-circle
          ng-container(*ngSwitchCase="'opened'")
            span.icon.has-text-info
              i.far.fa-dot-circle
          ng-container(*ngSwitchCase="'finished'")
            a.icon(
              [class.has-text-success]="item.rating === ItemRatingEnum.positive",
              [class.has-text-danger]="item.rating === ItemRatingEnum.negative"
            )
              i.far.fa-check-circle
      .dropdown-menu.dropdown-menu--w-none(role="menu")
        .dropdown-content
          a.dropdown-item(*ngIf="item.status !== 'new'", (click)="undoReading.emit(item.id)")
            span.icon
              i.far.fa-circle
            span Mark as New
          a.dropdown-item(*ngIf="item.status !== 'opened'", (click)="startReading.emit(item.id)")
            span.icon.has-text-info
              i.far.fa-envelope-open
            span Mark as Opened
          a.dropdown-item(
            *ngIf="item.status !== 'finished' || item.rating !== ItemRatingEnum.positive",
            (click)="finishReadingHandler(item.id, ItemRatingEnum.positive)"
          )
            span.icon.has-text-success
              i.far.fa-check-circle
            span Mark as Finished & Useful
          a.dropdown-item(
            *ngIf="item.status !== 'finished' || item.rating !== ItemRatingEnum.negative",
            (click)="finishReadingHandler(item.id, ItemRatingEnum.negative)"
          )
            span.icon.has-text-danger
              i.far.fa-check-circle
            span Mark as Finished & Useless

    a.icon.has-text-warning(
      (click)="toggleFavouriteHandler(item)",
      [title]="item.isFavourite ? 'Remove from favorites' : 'Add to favorites'"
    )
      i.fa-star([class.fas]="item.isFavourite", [class.far]="!item.isFavourite")

    a.icon((click)="toggleComment()", [title]="item.withComment ? 'Edit private note' : 'Add private note'")
      i.fa-comment-alt([class.fas]="item.withComment", [class.far]="!item.withComment")

    .dropdown.is-hoverable.is-right
      .dropdown-trigger
        a
          span.icon.has-text-primary
            i.fas.fa-ellipsis-v(aria-hidden="true")
      .dropdown-menu(role="menu")
        .dropdown-content
          a.dropdown-item(*ngIf="shareService.isSupported", (click)="share(item)")
            span.icon.has-text-info
              i.fas.fa-share-alt
            span Share
          a.dropdown-item((click)="editTitle(item)")
            span.icon.has-text-info
              i.far.fa-edit
            span Edit title
          a.dropdown-item((click)="editURL(item)")
            span.icon.has-text-info
              i.fas.fa-globe-americas
            span Edit URL
          hr.dropdown-divider
          a.dropdown-item((click)="delete.emit(item.id)")
            span.icon.has-text-danger
              i.far.fa-trash-alt
            span Delete
.line.third(*ngIf="isNoteVisible")
  textarea.textarea([ngModel]="item.comment", #commentTextArea="", placeholder="Private note")
  .buttons.is-right
    button.button.is-primary((click)="setComment(item.id, commentTextArea.value)") Save private note
    button.button((click)="toggleComment(false)") Cancel
