.widget.widget--push-notifications
  .widget__header
    h2.widget__header__title
      span Security
      .button.is-loading.is-white(*ngIf="userService.isSignInProgress$ | async") Loading
  .widget__body.widget__body--is-paddingless
    table.table.is-fullwidth
      tr
        td(width="130")
          span.icon
            i.fas.fa-lock
          span Password
        td
          button.button.is-small.is-warning((click)="userService.restorePassword(userService.user.email)")
            span.icon
              i.fas.fa-key
            span Change/Set

      tr(*ngFor="let ap of authProviders")
        td
          span.icon
            i.fab([ngClass]="'fa-' + ap.provider")
          span.capitalize {{ ap.provider }}
        td
          div(*ngIf="ap.data; else linkProvider")
            span {{ ap.data }}
            button.button.is-text.is-small((click)="userService.unlink(ap.provider)") Unlink
          ng-template(#linkProvider="")
            button.button.is-small.is-info((click)="userService.link(ap.provider)")
              span.icon
                i.fas.fa-link
              span Link

    .side-margin
      .notification.is-warning(*ngIf="userService.signError$ | async as signError")
        button.delete((click)="userService.clearNotification('error')")
        span {{ signError }}
      .notification.is-info(*ngIf="userService.signMessage$ | async as signMessage")
        button.delete((click)="userService.clearNotification('message')")
        span {{ signMessage }}

.widget.widget--push-notifications
  .widget__header
    h2.widget__header__title Push notifications
  .widget__body.widget__body--is-paddingless
    .table-container
      table.table.is-striped.is-fullwidth
        thead
          tr
            th Feature
            th Is turned on for your account?
            th Is turned on for this browser?
        tr
          td Roadmap (related activity)
          td
            label.checkbox
              input(
                type="checkbox",
                [ngModel]="(userService.authorizedUserOnly$ | async)?.sendRoadmapActivityPushNotifications",
                (ngModelChange)="userService.setSettingSendRoadmapActivityPushNotifications($event)"
              )
          td
            span.icon.has-text-success(
              *ngIf="(userService.authorizedUserOnly$ | async)?.sendRoadmapActivityPushNotifications && messagingService.isGranted()",
              title="Push notifications are activated for this browser"
            )
              i.far.fa-check-circle
            ng-container(*ngIf="(userService.authorizedUserOnly$ | async)?.sendRoadmapActivityPushNotifications")
              button.button.is-primary.is-small(
                *ngIf="messagingService.isDefault()",
                (click)="userService.activatePushNotifications()"
              )
                span Activate

              span(*ngIf="!messagingService.isSupported()") Browser doesn't support push notifications.

              div(*ngIf="messagingService.isDenied()")
                span Denied. To activate - go to browser settings. Here are some instructions:
                .buttons.are-small
                  a.button(
                    href="https://support.google.com/chrome/answer/114662?visit_id=637065060206456040-66104529&rd=1&co=GENIE.Platform%3DAndroid&oco=1",
                    target="_blank"
                  ) Chrome for Android
                  a.button(
                    href="https://support.google.com/chrome/answer/114662?visit_id=637065060206456040-66104529&rd=1&co=GENIE.Platform%3DDesktop&oco=1",
                    target="_blank"
                  ) Chrome for Desktop
                  a.button(href="https://support.apple.com/en-gb/guide/safari/sfri40734/mac", target="_blank") Safari for Desktop
